body {
   background-color: #ffffff;
}

/* Navbar */

.navbar nav {
   background-color: #ffffff;
}

.navbar-light .navbar-brand {
   color: #dc3545;
}

.navbar-light .navbar-nav .nav-link {
   color: #dc3545;
}

/* Create button */

.createBtn {
   background-color: #45dc35;
   border-color: #45dc35;
   color: #fff;
}

.createBtn:hover {
   background-color: #38b42a;
   border-color: #38b42a;
   color: #fff;
}

/* Edit button */

.editBtn {
   color: #fff !important;
}

/* Cards */

.card {
   /* background-color: #FFF4EE; */
   border: 1px solid #dc3545;
}

h5 a{
   color: #45dc35;
}

h5 a:hover{
   color: #38b42a !important;
}

/* user profile */

.list-group-item {
   border: 1px solid #dc3545;
}

/* pagination */

.page-link {
   color: #45dc35 !important;
}

.page-item.active .page-link {
   color: #fff !important;
   background-color: #45dc35 !important;
   border-color: #45dc35 !important;
}

/* breadcrumb */

.breadcrumb {
   background-color: #e5c0c2;
}

.breadcrumb-item a {
   color: #45dc35 !important;
   font-weight: bold;
}

/* file input */
.custom-file-label {
   height: 4rem;
}

.custom-file-label::after {
   padding-top: 1rem;
   height: 3.9rem;
}

/* post */

.post {
   border: 1px solid #dc3545;
   border-radius: .25rem;
   margin-bottom: 2rem;
}

.userInfo {
   border-right: 1px solid #dc3545;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
}

.userInfo img{
   width: 5rem;
   height: 5rem;
   border-radius: 100px;
   margin-bottom: .5rem;
}

.userInfo h5 {
   color: #45dc35;
}

.postContent {
   padding: 1rem;
}

.post_title {
   display: flex;
   justify-content: space-between;
   margin-bottom: 1.5rem;
}

.post_title h5 {
   color: #45dc35;
}

.postDescription {
   text-align: center;
   margin-bottom: 1.5rem;
   font-size: 1.4rem;
   font-weight: 500;
}

.postButtons {
   text-align: center;
}

/* comment */

.comment {
   border: 1px solid #dc3545;
   border-radius: .25rem;
   margin-bottom: 2rem;
}

.commentDate {
   margin-top: .5rem;
   text-align: right;
}

.commentText {
   font-size: 1.2rem;
   font-weight: 500;
   margin-bottom: 2rem;
}

.commentButtons {
   text-align: center;
}

/* #d4ba97

#d3c119

#ff7000

#c80000

#523a20 */